In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Dataset/ipl.csv")

In [3]:
df

,mid,date,venue,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,runs_last_5,wickets_last_5,striker,non-striker,total
0,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,P Kumar,1,0,0.1,1,0,0,0,222
1,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,1,0,0.2,1,0,0,0,222
2,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.2,2,0,0,0,222
3,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.3,2,0,0,0,222
4,1,2008-04-18,M Chinnaswamy Stadium,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,P Kumar,2,0,0.4,2,0,0,0,222
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,121,7,19.2,40,0,40,12,129
76010,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,127,7,19.3,46,0,46,12,129
76011,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,128,7,19.4,47,0,47,12,129
76012,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,MG Johnson,DT Christian,129,7,19.5,48,0,47,13,129
76013,617,2017-05-21,"Rajiv Gandhi International Stadium, Uppal",Mumbai Indians,Rising Pune Supergiant,KH Pandya,DT Christian,129,8,19.6,47,1,47,13,129

In [4]:
print(df.isna().any())

mid               False
date              False
venue             False
bat_team          False
bowl_team         False
batsman           False
bowler            False
runs              False
wickets           False
overs             False
runs_last_5       False
wickets_last_5    False
striker           False
non-striker       False
total             False
dtype: bool

In [5]:
df['bat_team'].value_counts()

Mumbai Indians                 10213
Kings XI Punjab                 9219
Chennai Super Kings             9142
Royal Challengers Bangalore     8331
Kolkata Knight Riders           8033
Delhi Daredevils                7152
Rajasthan Royals                6643
Deccan Chargers                 5280
Sunrisers Hyderabad             5216
Pune Warriors                   2448
Gujarat Lions                   1726
Rising Pune Supergiant           994
Kochi Tuskers Kerala             876
Rising Pune Supergiants          741
Name: bat_team, dtype: int64

In [6]:
df['bowl_team'].value_counts()

Delhi Daredevils               10245
Royal Challengers Bangalore     9661
Mumbai Indians                  9271
Kolkata Knight Riders           9211
Kings XI Punjab                 8405
Rajasthan Royals                7773
Chennai Super Kings             6497
Deccan Chargers                 3984
Sunrisers Hyderabad             3589
Pune Warriors                   3083
Gujarat Lions                   1970
Rising Pune Supergiant           962
Kochi Tuskers Kerala             736
Rising Pune Supergiants          627
Name: bowl_team, dtype: int64

In [7]:
df.drop(columns=['venue','batsman','bowler','mid','date','striker','non-striker'],inplace=True,axis=1)

In [8]:
df

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...
76009,Mumbai Indians,Rising Pune Supergiant,121,7,19.2,40,0,129
76010,Mumbai Indians,Rising Pune Supergiant,127,7,19.3,46,0,129
76011,Mumbai Indians,Rising Pune Supergiant,128,7,19.4,47,0,129
76012,Mumbai Indians,Rising Pune Supergiant,129,7,19.5,48,0,129
76013,Mumbai Indians,Rising Pune Supergiant,129,8,19.6,47,1,129

In [9]:
df['bat_team'].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Mumbai Indians', 'Deccan Chargers', 'Kings XI Punjab',
       'Royal Challengers Bangalore', 'Delhi Daredevils',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant'], dtype=object)

In [10]:
teams = ['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
                    'Mumbai Indians', 'Kings XI Punjab', 'Royal Challengers Bangalore',
                    'Delhi Daredevils', 'Sunrisers Hyderabad']
def cleaning(text):
    if text in teams:
        return text
    else:
        return "Other"

In [11]:
df['bowl_team']=df['bowl_team'].apply(cleaning)

In [12]:
df['bat_team']=df['bat_team'].apply(cleaning)

In [13]:
df

,bat_team,bowl_team,runs,wickets,overs,runs_last_5,wickets_last_5,total
0,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.1,1,0,222
1,Kolkata Knight Riders,Royal Challengers Bangalore,1,0,0.2,1,0,222
2,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.2,2,0,222
3,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.3,2,0,222
4,Kolkata Knight Riders,Royal Challengers Bangalore,2,0,0.4,2,0,222
...,...,...,...,...,...,...,...,...
76009,Mumbai Indians,Other,121,7,19.2,40,0,129
76010,Mumbai Indians,Other,127,7,19.3,46,0,129
76011,Mumbai Indians,Other,128,7,19.4,47,0,129
76012,Mumbai Indians,Other,129,7,19.5,48,0,129
76013,Mumbai Indians,Other,129,8,19.6,47,1,129

In [14]:
df=pd.get_dummies(df,columns=['bat_team','bowl_team'],drop_first=True)

In [15]:
df

,runs,wickets,overs,runs_last_5,wickets_last_5,total,bat_team_Delhi Daredevils,bat_team_Kings XI Punjab,bat_team_Kolkata Knight Riders,bat_team_Mumbai Indians,...,bat_team_Royal Challengers Bangalore,bat_team_Sunrisers Hyderabad,bowl_team_Delhi Daredevils,bowl_team_Kings XI Punjab,bowl_team_Kolkata Knight Riders,bowl_team_Mumbai Indians,bowl_team_Other,bowl_team_Rajasthan Royals,bowl_team_Royal Challengers Bangalore,bowl_team_Sunrisers Hyderabad
0,1,0,0.1,1,0,222,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
1,1,0,0.2,1,0,222,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,2,0,0.2,2,0,222,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,2,0,0.3,2,0,222,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
4,2,0,0.4,2,0,222,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76009,121,7,19.2,40,0,129,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
76010,127,7,19.3,46,0,129,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
76011,128,7,19.4,47,0,129,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
76012,129,7,19.5,48,0,129,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
76013,129,8,19.6,47,1,129,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0

In [16]:
X=df.drop(columns=['total'],axis='columns')
y=df.total

In [17]:
print(X.columns)

Index(['runs', 'wickets', 'overs', 'runs_last_5', 'wickets_last_5',
       'bat_team_Delhi Daredevils', 'bat_team_Kings XI Punjab',
       'bat_team_Kolkata Knight Riders', 'bat_team_Mumbai Indians',
       'bat_team_Other', 'bat_team_Rajasthan Royals',
       'bat_team_Royal Challengers Bangalore', 'bat_team_Sunrisers Hyderabad',
       'bowl_team_Delhi Daredevils', 'bowl_team_Kings XI Punjab',
       'bowl_team_Kolkata Knight Riders', 'bowl_team_Mumbai Indians',
       'bowl_team_Other', 'bowl_team_Rajasthan Royals',
       'bowl_team_Royal Challengers Bangalore',
       'bowl_team_Sunrisers Hyderabad'],
      dtype='object')

In [18]:
from sklearn.svm import SVR
model=SVR(kernel='rbf')
model.fit(X,y)

SVR()

In [19]:
import pickle
file=open("Model/Prediction.pkl","wb")
pickle.dump(model,file)
file.close()

In [20]:
import numpy as np
def prediction(runs,wickets,overs,runs_last_5,wickets_last_5,bat_team,bowl_team):
    if bat_team!="Chennai Super Kings":
        bat_team_index=np.where(X.columns=="bat_team_"+bat_team)[0][0]
        bat_flag=0
    else:
        bat_flag=1
        
    if bowl_team!="Chennai Super Kings":    
        bowl_team_index=np.where(X.columns=="bowl_team_"+bowl_team)[0][0]
        bowl_flag=0
    else:
        bowl_flag=1
        
    x=np.zeros(len(X.columns))
    x[0]=runs
    x[1]=wickets
    x[2]=overs
    x[3]=runs_last_5
    x[4]=wickets_last_5
    
    
    
    if bat_flag==0:
        if bat_team_index>=0:
            x[bat_team_index]=1
    if bowl_flag==0:
        if bowl_team_index>=0:
            x[bowl_team_index]=1

    return model.predict([x])

In [21]:
print(prediction(73,1,7.3,18,2,"Mumbai Indians","Kings XI Punjab")[0])

165.35168868661202